;; -*- scheme -*-

(
 (include "base.cfg")
 ("systems/texinfo"       git  "git://github.com/rotty/texinfo.git")
 ("systems/stexidoc"      git  "git://github.com/rotty/stexidoc.git")
 ("systems/sbank"         git  "git://github.com/rotty/sbank.git")
 ("systems/irclogs"       git  "git://github.com/rotty/irclogs.git")
 ("systems/industria"     git  "git://github.com/rotty/industria.git" "t/doro")
 ("systems/dorodango"     git  "git://gitorious.org/dorodango/mainline.git")
 ("systems/ocelotl"       git  "git://github.com/rotty/ocelotl.git")
 ("systems/tekuti"        git  "git://gitorious.org/tekuti/tekuti.git" "t/r6rs/do-port")
)
